---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="About Us">
  <h1>Welcome Message</h1>

  <!-- Text -->
  <p>Dear colleagues,</p>
  <p class="indent-8">
    On behalf of the 2025 Organizing Committee of Wireless and Optical
    Communications Conference (WOCC2025), we welcome you to the 34th WOCC
    conference on May 20th-22nd. The conference is hosted by Macau University of
    Science and Technology (MUST).
  </p>
  <p class="indent-8">
    The 34th Wireless and Optical Communications Conference is an IEEE
    international conference. In the past three decades, WOCC has become one of
    the major conferences for telecommunications and networking professionals
    both in the U.S. and in the Asia-Pacific region, as well as, other regions
    of the world, presenting the latest innovations, discussing the emerging
    techniques, exchanging research ideas, and exploring frontier issues. WOCC
    2025 will also feature high-quality plenary speeches, as well as, invited
    keynotes from prominent research and industry leaders.
  </p>
  <p class="indent-8">
    We hope your participation in WOCC 2025 is a productive and rewarding
    experience and thank you for your involvement and contribution in making
    WOCC 2025 a successful event.
  </p>
</BaseLayout>
