---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Call for Paper">
  <h1>Call for Paper</h1>
  <p>
    The 34th Annual Wireless and Optical Communications Conference (WOCC 2025)
    will serve as an international forum for experts from academia, industry,
    and government to exchange their novel ideas and latest results on
    cutting-edge researches and developments in the areas of wireless networks
    and communications, optical communications and networks, as well as machine
    learning and AI for communications. The conference will feature several
    awards, including the famous <u>Charles Kao Best Paper Award</u>, named
    after the Nobel laureate who advanced fiber optics in telecommunications
  </p>

  <h2>Wireless Networks and Communications Symposium</h2>
  <ul>
    <li>Radio access technologies for 5G and 6G</li>
    <li>
      Novel antenna systems, propagation, RF design, mmWave, and (sub-)Terahertz
      communications
    </li>
    <li>
      Signal processing (transmission and reception) for sub-6GHz, mmWave, and
      (sub-)Terahertz communications
    </li>
    <li>
      Multi-antenna (MIMO, Massive MIMO), multi-user, centralized, and
      distributed multi-node systems
    </li>
    <li>Reconfigurable intelligent surface</li>
    <li>Interference management, alignment, and cancellation</li>
    <li>Wireless networks: cross-layer design, security, and services</li>
    <li>Green communications and networking</li>
    <li>
      Unmanned aerial vehicle communications, vehicular networks, and telematics
    </li>
    <li>Wireless network modeling and performance analysis</li>
    <li>Pervasive and wearable computing and networking</li>
    <li>
      Non-terrestrial networks, e.g., low-Earth orbit (LEO) satellite access
      networks
    </li>
    <li>
      Seamless integration of optical, edge, and other emerging technologies
    </li>
    <li>Integration of satellite and terrestrial networks</li>
    <li>Standardization activities of emerging wireless technologies</li>
    <li>
      Wireless technologies for IoT, smart cities, smart communities and smart
      homes
    </li>
    <li>Disaggregated radio access networks (RAN), Open RAN and Cloud RAN</li>
  </ul>

  <h2>Optical Communications and Networks Symposium</h2>
  <ul>
    <li>Optical communications for long-haul and metro networks</li>
    <li>Optical access networks for fixed and mobile services</li>
    <li>Optical interconnections for data center applications</li>
    <li>Optical networking for IIoT and industry 4.0 applications</li>
    <li>Optical networking for data center and computing applications</li>
    <li>
      Optical wireless communication for space-air-ground integrated network in
      6G
    </li>
    <li>
      Fixed 5G, Fiber to the Room (FTTR), WiFi and optical access integration,
      and Fixed 6G
    </li>
    <li>Software defined networking (SDN) for optical networks</li>
    <li>Fibers and fiber devices</li>
    <li>Optoelectronic devices, amplifiers, and lasers</li>
    <li>Quantum and nonlinear optics as well as nano-photonics</li>
    <li>Radio-over-fiber and microwave photonics</li>
    <li>Free space and visible light communications</li>
    <li>Optical sensors and networks</li>
  </ul>

  <h2>Machine Learning and Artificial Intelligence Symposium</h2>
  <ul>
    <li>AI/Machine learning and intelligent communications</li>
    <li>AI/Machine learning in network theory and methodologies</li>
    <li>AI/Machine learning based information and signal processing</li>
    <li>
      AI/Machine learning in wireless, mobile and satellite communications
    </li>
    <li>AI/Machine learning in network automation</li>
    <li>Big data and deep learning applications in network security</li>
    <li>Intelligent resource (e.g., spectrum, power) allocation schemes</li>
    <li>Intelligent antennas design and dynamic configuratione</li>
    <li>Intelligent massive MIMO communication systems</li>
    <li>Intelligent positioning and navigation systems</li>
    <li>Intelligent cooperative/distributed coding</li>
    <li>Intelligent wireless sensor networks</li>
    <li>
      Resource and network optimization using big data and machine learning
    </li>
    <li>
      Cloud-based big data, IoT, and multimedia computing and communications
    </li>
  </ul>
</BaseLayout>
