---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="IEEE Conference">
  <p class="font-bold text-xl">WOCC2025 is technically co-sponsored by IEEE</p>
</BaseLayout>
