---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import CommitteeCard from '@/components/CommitteeCard.astro';
---

<BaseLayout title="Organizing Committees">
  <h1>General Chairs</h1>
  <CommitteeCard
    name="Qinglin Zhao"
    affiliation="Macau University of Science and Technology"
    image="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  />
  <CommitteeCard
    name="Jie Zhang"
    affiliation="Beijing University of Posts and Telecommunications"
    image="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  />

  <h1>Program Chairs</h1>
  <CommitteeCard
    name="JianQing Li"
    affiliation="Macau University of Science and Technology"
    image="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  />
  <CommitteeCard
    name="Miaowen Wen"
    affiliation="South China University of Technology"
    image="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  />
  <CommitteeCard
    name="Jianjun Yu"
    affiliation="Fudan University"
    image="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  />
  <CommitteeCard
    name="Xu Chen"
    affiliation="Sun Yan-sen University"
    image="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  />
  
  <h1>Publication Chair</h1>
  <CommitteeCard
    name="Rubing Huang"
    affiliation="Macau University of Science and Technology"
    image="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  />

  <h1>Local Coordinate Chair</h1>
  <p>TBD</p>

  <h1>Finance Chair</h1>
  <CommitteeCard
    name="Jinyu Tian"
    affiliation="Macau University of Science and Technology"
    image="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
  />

  <h1>Publicity Chair</h1>
  <p>TBD</p>

  <h1>Advisory Members</h1>
  <div class="table-wrapper">
    <table class="members-table">
      <tbody>
        <tr>
          <th>Mengchu Zhou</th>
          <td>New Jersey Institute of Technology</td>
        </tr>
        <tr>
          <th>Yu-Dong Yao</th>
          <td>Stevens Institute of Technology</td>
        </tr>
        <tr>
          <th>Meilong Jiang</th>
          <td>Qualcomm</td>
        </tr>
        <tr>
          <th>Kevin Lu</th>
          <td>Stevens Institute of Technology</td>
        </tr>
        <tr>
          <th>James C. M. Hwang</th>
          <td>Cornell University</td>
        </tr>
        <tr>
          <th>Jen-Yeu Chen</th>
          <td>National Dong Hwa University</td>
        </tr>
        <tr>
          <th>Xin Jiang</th>
          <td>City University of New York</td>
        </tr>
        <tr>
          <th>Danijela Cabric</th>
          <td>University of California, Los Angeles</td>
        </tr>
      </tbody>
    </table>
  </div>
</BaseLayout>

<style>
  .members-table {
    tbody tr th {
      @apply text-right;
    }
  }
</style>
