---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import ExternalLink from '@/components/ExternalLink.astro';
---

<BaseLayout title="Paper Submission">
  <!-- Important dates table for paper submission -->
  <h1>Important Dates</h1>
  <div class="table-wrapper">
    <table>
      <tbody>
        <tr>
          <th align="left">Full Paper Submission deadline</th>
          <td>March 1, 2025</td>
        </tr>
        <tr>
          <th align="left">Notification of Acceptance</th>
          <td>March 20, 2025</td>
        </tr>
        <tr>
          <th align="left">Camera-Ready</th>
          <td>April 1, 2025</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Guidelines and website -->
  <h1>Submission Website and Guidelines</h1>
  <p>
    All submission shall follow IEEE Templates, which are available at
    <ExternalLink
      href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">
      http://www.ieee.org/conferences_events/conferences/publishing/templates.html
    </ExternalLink>
  </p>
  <p>
    <span class="font-bold text-red-500">
      Please submit your original papers at EDAS
    </span>
    <br />
    <span>EDAS link is TBD</span>
  </p>
  <p>There are three symposias (tracks) of WOCC 2025:</p>
  <ul>
    <li>Wireless Networks and Communications Symposium</li>
    <li>Optical Communications and Networks Symposium</li>
    <li>Machine Learning and Artificial intelligence Symposium</li>
  </ul>
  <p><b>Please pick one of them to submit your manuscripts</b></p>
  <p>
    <b
      ><span class="text-red-500">4-5 page Full Papers</span> are welcome. A Best
      Paper will be awarded to a full paper in each symposium.</b
    >
  </p>

  <h2>The Guideline for Registration</h2>
  <p>TBD</p>

  <h2>The Guideline for Camera Ready</h2>
  <p>TBD</p>

  <!-- Reminders -->
  <h1>Important Reminder</h1>
  <p>
    At least one author of an accepted paper must register at <span
      class="font-bold text-red-500">the "Regular" or "IEEE Members" rates</span
    >, even if the author is a student. A registration of "Student" category is
    not valid for covering the accepted paper.
  </p>
  <p>
    One "Regular" or "IEEE Members" registration can cover <span
      class="font-bold text-red-500">at most 2</span
    > accepted paper.
  </p>
  <p>
    All submissions should be written in English with a maximum paper length of
    5 printed pages (10pt font) including figures and tables (maximum 1
    additional page with over length page charge of <span
      class="font-bold text-red-500">USD 150</span
    > if accepted). Papers exceeding 6 pages will not be accepted at EDAS.
  </p>
  <p>
    The submitted manuscripts should be <span class="font-bold text-red-500"
      >in PDF format</span
    >. All manuscripts are recommended to follow the
    <ExternalLink
      href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">
      IEEE templates
    </ExternalLink>.
  </p>
</BaseLayout>
