---
import { wrapBase } from '@/utils';

// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import SpeakerCard from '@/components/SpeakerCard.astro';
---

<BaseLayout title="Speakers">
  <h1>Keynote Speakers</h1>
  <p>TBD</p>

  <h1>Invited Speakers</h1>
  <p>TBD</p>
</BaseLayout>
