---
import { wrapBase } from '@/utils';

// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import ExternalLink from '@/components/ExternalLink.astro';
---

<BaseLayout title="Sponsorship">
  <h1>Sponsorship</h1>

  <h2>Organizer</h2>
  <ul>
    <li>
      <ExternalLink href="https://www.wocc.org/">
        Wireless and Optical Communication Conference (WOCC.org)
      </ExternalLink>
    </li>
    <li>
      <ExternalLink href="https://www.must.edu.mo/">
        Macau University of Science and Technology (MUST)
      </ExternalLink>
    </li>
  </ul>

  <h2>Technical Sponsors</h2>
  <div class="flex flex-wrap gap-4 items-center *:w-52">
    <img alt="IEEE" src={wrapBase('/imgs/logos/ieee.png')} />
    <img
      alt="IEEE Photonics Society"
      src={wrapBase('/imgs/logos/ieee-photonics-society.png')}
    />
  </div>
  <ul>
    <li>IEEE Macau Section</li>
    <li>IEEE Photonics Society</li>
  </ul>
</BaseLayout>
