---
// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Venue and Hotel">
	<h1>Conference Venue</h1>
	<p>TBD</p>

	<h1>Maps and Directions</h1>
	<p>TBD</p>
</BaseLayout>
